.hide {
    display: none;
}

.box {
    max-width: 500px;
    max-height: 100%;
    width: 100%;
    height: 100%;
    margin: 15px;
    border: 1px solid #333;
    border-radius: 10px;
}

.my_post.flex {
    position: relative;
    max-width: 1400px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    /* 기존 중앙정렬 상태로 간격 줄어들면 밀려나는 컨첸츠 박스가 왼쪽부터 정렬되게 안되는지 방법 찾아보기 */
    /* 지금은 밀려나는 컨텐츠가 중앙으로 온다. */
    align-items: flex-start;
}

.title {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 36px;
    /* background: antiquewhite; */
}


.swap_btn_wrap {
    width: 100%;
    align-items: center;
    justify-content: right;
}

.swap_btn_wrap > .btn {
    padding: 5px 12px;
    border: 1px solid #333;
    border-radius: 10px;
}

.swap_btn_wrap > .btn:hover {
    border: 1px solid #ffa920;
    background: #ffa920;
    color: #f2f2f2;
    transition-duration: .3s;
}

.swap_btn_wrap > .btn:first-child {
    margin-right: 10px;
}

.btn_container.flex {
    display: flex;
    max-width: 1400px;
    width: 100%;
    height: 100%;
    margin: 50px auto;
    margin-bottom: 30px;
    align-items: center;
    /* background: aquamarine; */
}

.btn_container.flex .empty_box {
    width: 100%;
    height: 100%;
}

.top_wrap.flex {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.top_wrap.flex .btn_wrap input {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 12px;
    border: 1px solid #a1a1a1;
    border-radius: 10px;
    transition-duration: .3s;
}

.top_wrap.flex .btn_wrap input:hover {
    border: 1px solid #ffa920;
    background: #ffa920;
    color: #f2f2f2;
}

.top_wrap.flex .btn_wrap.comment_btn_wrap input {
    padding: 3px 6px;
}


.top_wrap.flex .btn_wrap input:last-child {
    margin-right: 10px;
}

.my_comment {
    margin-top: 10px;
    margin-left: 10px;
}

.cont_title {
    font-size: 18px;
    padding-top: 10px;
    padding-left: 10px;
}

.contents_wrap {
    font-size: 16px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding-top: 3px;
    padding-left: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    min-height: 200px;
    width: 95%;
}
.content {
        max-width: 100%;
        max-height: 100%;
        /* width: 95%; */
        width: 433px;
        height: 200px;
        display: block;
        margin: 0 auto;
        padding: 5px;
        font-size: 16px;
        color: #333;

        overflow: overlay;  		
        text-overflow: ellipsis;
        /* white-space: wrap; */
        word-break:break-all
}

/* 내 댓글 보기 CSS 시작 */

.comment_container.flex {
    max-width: 1440px;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    margin-bottom: 15px;
    /* background-color: antiquewhite; */
}

.comment_container.flex .post_name {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5px;
    font-weight: bold;
}

.comment_container.flex .comment {
    max-width: 1050px;
    width: 100%;
    height: 100%;
    padding: 5px;
    padding-left : 50px;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break:break-all;
    /* background-color: #ffa920; */
}

.comment_container.flex .comment_btn_wrap {
    display: flex;
    align-self: center;
    margin-left: 50px;
    /* background-color: aqua; */
}

.comment_container.flex .comment_btn_wrap > input {
    /* border: 1px solid #333;
    border-radius: 10px; */
    font-size: 16px;
    border: none;
    padding: 5px 8px;
    transition-duration: .3s;
}
.comment_container.flex .comment_btn_wrap > input:hover {
    color: #ffa920;
}

.comment_container.flex .comment_btn_wrap > input:first-child {
    margin-right: 10px;
}