body {
    background-color: #f2f2f2;
}

/* 상단 헤더 여백은 이걸로 조정 */
.empty_box {
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 300px;
    /* background-color: rebeccapurple; */
}

.hide {
    display: none;
}

/* input 게시글 덧글 창 */
.text_box {
    max-width: 550px;
    min-height: 300px;
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 10px;
    border: 1px solid #aaa;
    /* border: none; */
    font-size: 18px;
}


/* ------------------------------------header 시작 */
#header {
    position: relative;
    background-color: #fff;
    z-index: 2000;
}

#header #header_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 150px;
    height: 100%;
    background-color: #d1d1d1;
    border-bottom: 1px solid #e4e8eb;
    display: grid;
    grid-template-columns: 18% 64% 18%;

}
#header .logo_box{
    width: 100%;
    height: 100%;
    /* background-color: yellow; */
    margin: 0 auto;
}
#header .logo_case{
    max-width: 150px;
    max-height: 150px;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
    /* background-color: gray; */
    margin: 0 auto;
}
#header .logo_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#header .title_box{
    position: relative;
    /* background-color: green; */
    width: 300px;
    height: 150px;
    padding: 0 30px;
    display: flex;
    margin: 0 auto;
}

#header .title_img {
    width: 100%;
    height: 100%;
    background-image: url(../image/Keyword.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#header .profile_box{
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: yellow; */
}

#header .profile_circle_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    display: flex;
    justify-content: center;
}

#header .profile_circle {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #aaa;
    transition-duration: .3s;
}
#header .profile_circle:first-child {
    margin-right: 10px;
}
#header .profile_circle:last-child {
    margin-left: 10px;
}
#header .profile_circle:hover {
    /* box-shadow: 0px 0px 3px #333;    */
    border: 1px solid #f2f2f2;
}

#header .profile_circle a {
    position: relative;
    display: block;
    width:100%;
    height: 100%;
    transition-duration: .3s;
    color: #aaa;
}

#header .profile_circle a:hover i {
    color: #ffa920;
}

#header .profile_circle a i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    object-fit: cover;
    text-align: center;
    color: #f2f2f2;
    transition-duration: .3s;
}

/* ------------------------------------sidebar 시작 */
#sidebar {
    position: fixed;
    top: 200px;
    left: 0;
    display: block;
    max-width: 220px;
    width: 100%;
    height: 800px;
    background-color: rgb(120, 130, 120);
    box-shadow: 3px 3px 7px #333;
    color: #fff;
    transition: all 0.5s ease-in-out;
    box-sizing: border-box;
    z-index: 999;
}

#sidebar > h3 {
    font-size: 32px;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 30px;
}

#sidebar ul {
    flex-direction: column;
}
#sidebar ul li {
    display: inline;
    width: 127px;
    margin-left: 30px;
}
#sidebar a {
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: #fff;
    /* border: 1px solid red; */
    margin-bottom: 10px;
    padding: 5px 20px;
    font-size: 22px;
    transition-duration: .3s;
}

#sidebar a:hover {
    color: #000;
}
#sidebar ul li:hover a{
    color: #ffa920;
}
#sidebar div {
    position: absolute;
    left: 50px;
    line-height: 1.5;
    font-size: 1em;
    font-family: 'Noto Sans KR';
    padding: 0 0 0 20px;
}

#mobile_sidebar .arrow {
    position: fixed;
    top: 150px;
    left: 0;
    z-index: 101;
    cursor: pointer;
    display: inline-block;
    width: 100px;
    height: 50px;
    transition-duration: .3s;
}
#mobile_sidebar .arrow:hover::after, #mobile_sidebar .arrow:hover::before {
    background-color: #ffa920;
}
#mobile_sidebar .arrow::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 51%;
    transform: rotate(45deg) translate(-50%,-50%);
    width: 20px;
    height: 3px;
    background-color: #f2f2f2;
    border-radius: 50px;
    transition-duration: .3s;
}
#mobile_sidebar .arrow::before {
    content: '';
    position: absolute;
    top: 48%;
    left: 54%;
    transform: rotate(-45deg) translate(-50%,-50%);
    width: 20px;
    height: 3px;
    background-color: #f2f2f2;
    border-radius: 50px;
    transition-duration: .3s;
}
/* ------------------------------------hashtag section */
#hashtag_container {
    position: fixed;
    top: 150px;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #eee;
    z-index: 100;
}

#hashtag_wrap {
    width: 100%;
    height: 50px;
    background: rgba(70, 70, 70, 0.8);
    transition-duration: .3s;
}

#hashtag_wrap:hover {
    background: rgba(50,50, 50, 1);
}

#hashtag_container #hashtag_wrap .hashtag_contents.flex {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 22px;
    justify-content: space-between;
    align-items: center;
    transition-duration: .4s;
}

#hashtag_container #hashtag_wrap .hashtag_contents.flex a {
    font-size: 18px;
    color: #f2f2f2;
    transition-duration: .3s;
}

#hashtag_container #hashtag_wrap .hashtag_contents.flex a:hover {
    color: #ffa920;
}

#hashtag_container #hashtag_wrap .hashtag_contents.flex a:first-child {
    margin-left: 150px;
}
#hashtag_container #hashtag_wrap .hashtag_contents.flex a:last-child {
    margin-right: 150px;
}
/* ------------------------------------#post_container 시작 */

#post_container {
    width: 100%;
    height: 100%;
    position: relative;
}

#post_container #write_wrap  {
    position: relative;
    max-width: 600px;
    width: 100%;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 10px;
    /* background-color: #ffa920; */
}

#post_container #write_wrap > .wirte_btn.btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 40px;
    font-size: 18px;
    text-align: center;
    line-height: 1.5;
    padding-top: 5px;
    border: 1px solid #333;
    border-radius: 10px;
    transition-duration: .3s;
}
#post_container #write_wrap > .wirte_btn.btn:hover {
    border: 1px solid #ffa920;
    background-color: #ffa920;
    color: #f2f2f2
}

#post_container #post_wrap {
    position: relative;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 600px;
    width: 100%;
    border: 1px solid #000;
    border-radius: 15px;
    margin-bottom: 200px;
    /* background-color: aquamarine; */
}

#post_container #post_wrap .profile {
    position: relative;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 50px;
    display: inline-block;
    width: 100px;
    height: 100px;
    background-image: url(../image/Keyword.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid black;
    border-radius: 30px;
}

#post_container #post_wrap .nickname {
    position: absolute;
    top: 50px;
    right: -100%;
    width: 100%;
    font-size: 24px;
    text-align: center;
    /* background-color: red; */
}

#post_container #post_wrap .img_box {
    position: relative;
    top: 50px;
    width: 550px;
    height: 400px;
    margin: 0 auto;
    margin-bottom: 80px;
}

#post_container #post_wrap .img_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* background-color: #ffa920; */
}

#post_container #post_wrap textarea {
    max-width: 550px;
    max-height: 750px;
    width: 100%;
    height: 450px;
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    padding-left: 10px;
    border: 1px solid #eee;
    /* border: none; */
    font-size: 18px;
    color: #333;
    /* textarea 사이즈 고정 */
    resize: none;
}

#post_container #post_wrap .comment {
    max-width: 550px;
    min-height: 150px;
    width: 100%;
    height: 200px;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #aaa;
    font-size: 16px;
    color: #333;
}

#post_container #post_wrap .comment_btn {
    display: inline-block;
    /* width: 100%; */
    padding: 10px 15px;
    margin-bottom: 15px;
    margin-left: 20px;
    font-size: 20px;
    text-align: center;
    border: 1px solid #333;
    border-radius: 15px;
    transition-duration: .3s;
}

#post_container #post_wrap .comment_btn:hover {
    background-color: #ffa920;
    border: 1px solid #ffa920;
    color: #f2f2f2;
}

#post_container #post_wrap #post_form .revise_wrap{
    width: 100%;
    height: 100%;
    text-align: right;
    margin-bottom: 20px;
}

#post_container #post_wrap #post_form .revise_wrap input {    
    margin-top: 20px;
    padding: 5px 15px;
    font-size: 22px;
    border: 1px solid #ffa920;
    border-radius: 10px;
}

#post_container #post_wrap #post_form .revise_wrap input.edit {
margin-right: 10px;
}

#post_container #post_wrap #post_form .revise_wrap input.cut {
    margin-right: 25px;
}

/* ------------------------------------반응형 시작 */

/* ------------------------------------1280px */
@media screen and (max-width:1280px) {

    #header #header_container {
        grid-template-columns: 25% 50% 25%;
    }

    #sidebar {
        left: -100%;
    }

    #mobile_sidebar .arrow {
        transition-delay: .65s;
        opacity: 1;
    }

    #hashtag_container #hashtag_wrap .hashtag_contents.flex {
        margin-left: 0;
    }
}

/* ------------------------------------1024px */
@media screen and (max-width:1024px) {
    #sidebar {

    }
}
/* ------------------------------------768px */
@media screen and (max-width:768px) {

    #header #header_container {
        grid-template-columns: 25% 50% 25%;
    }

    #header .profile_circle {
        width: 44px;
        height: 44px;
    }

    #header .profile_circle a i {
        font-size: 24px;
    }

}


/* 해상도 1024, 768 마다 header 레아이웃 아이콘 안 깨지게 정갈하게 변경하기 */